@charset "utf-8";

/* footer {
    display: flex;
    position: fixed;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */

#footer {
    position: static;
    /* position: absolute; */
    /* bottom: 0; */
    color: var(--disable-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    font-size: 9pt;
}

#footer > p {
    margin: 0;
    font-size: inherit;
    color: inherit;
    margin-top: 3px;
}